body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footer, .header{
    height: 10%;
    width: 100%;
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
}

html, body {
  height: 100%;
  margin: 10px;
  padding: 0;
  background-color: orange;
}

.content{
    height: 100%;
    width: 100%;
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.content div{
    border: 2px solid yellow;
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    flex:3;
}

.sidebar{
    display: flex;
    flex: 1;
}

