body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footer, .header{
    height: 20%;
    width: 100%;
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
}

html, body {
  height: 100%;
  margin: 10px;
  padding: 0;
  background-color: orange;
}

.content{
    height: 100%;
    width: 100%;
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.content .main{
    border: 2px solid yellow;
    width: 100%;
    height: 100%;
}

.content .sidebar{
    border: 2px solid yellow;
    width: 100%;
    height: 95%;
}

.main{
    display: flex;
    flex:3;
    padding-left: 10px;
    flex-direction: column;
}

.sidebar{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;


}

.header img{
    margin: 10px;
}

.header h1{
    color: orange;
}

.phone{
    display: flex;
    flex-direction: row;
}

.sidebar h3{
    color: red;
}

.sidebar div{
    margin: 10px;
    background-color: lightsalmon;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
}