.logo{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 2px solid black;
    margin: 10px;
    margin-left: 4%;
}

.logo img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50%;
    width: 40%;
    border: 3px solid lightblue;
}

.infoContainer{
    margin-left: 4%;
    margin-top: 3%;
}

.infoContainer h1{
    color: lightgreen;
}

/* .inputs input{
    width: 50%;
    height: 100%;
} */

/* .inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20px;
} */

.info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 100px;
    width: 98%;
}

.info input{
    width: 40%;
    height: 30%;
}

.info div{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.radioGroup label{
    margin-right: 5%;
}

.checkboxs{
    display: flex;
    flex-direction: column;
}

.checkboxs label{
    margin-bottom: 15px;
}

.contact{
    display: flex;
    flex-direction: row;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15%;
}       